<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <div class="container mt-5 text-center" style="width: 600px;margin: auto;">
        <h1 >Welcome</h1>
        <hr>
        User: <span sec:authentication="name"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
        <br><br>

        <!-- Check for login error -->
        <div th:if="${session.user}" >
            <p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>
        </div>
        <br>
        <form th:action="@{/luckyNumberPage}" method="get">

            <button type="submit" class="btn btn-secondary"><strong>Lucky Number Page</strong></button>

        </form>
        <br>
        <br>
        <form th:action="@{/logout}" method="post">

            <button type="submit" class="btn btn-primary"><strong>Log Out</strong></button>

        </form>
    </div>
</body>
</html>